html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 10px;
  width: 100%;
  background: url("https://i.redd.it/sy7agzf79ac11.jpg") fixed no-repeat center;
  background-size: cover;
}

.hidden {
  display: none;
}

.page-banner {
  text-align: center;
  width: 100%;
}

.page-title {
  font-size: 3em;
  color: #ffffff;
  margin-bottom: 0;
}

.title-subtext {
  font-size: 1.5em;
  color: #ffffff;
  margin-bottom: 0;
}

main {
  width: 100%;
  text-align: center;
}

#error-message {
  color: red;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
}

.search-form {
  width: 75%;
  margin: 10px auto;
  color: #000000;
  background: rgba(255, 255, 255, 0.4)
}

div .form-group {
  margin-bottom: 0;
}

#search-label, #state-search, #submit-button {
  display: inline-block;
  margin: 10px;
}

#search-results {
  list-style: none;
  margin: 10px;
  padding: 10px;
  overflow: scroll;
  background: rgba(255, 255, 255, 0.6)
}

#search-results li {
  margin-bottom: 5px;
}

.results {
  text-align: center;
  font-size: 1em;
}

.results h3 {
  color: #17a2b8;
}

#map, #results {
  display: inline-block;
  margin: 10px auto;
  height: 70vh;
  width: 100%;
  overflow: scroll;
}

#more-info {
  margin-left: 10px;
}

#restaurant-list {
padding: 0;
max-height: 300px;
overflow: scroll;
}

#state-search {
  max-width: 250px;
}

h6.list-header {
  color: #dc3545;
}